<!DOCTYPE html>
<html>
<head>
    <title>Alembi`s blog</title>

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <%- include('header') %>

    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <a class="back-to-home" href="/">Back to Home</a>
    
</body>
</html>
